@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  @apply bg-red-600;
}
.btn-primary:hover {
  @apply hover:opacity-90;
}
