@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


.btn-primary{
    @apply bg-red-600 
}
.btn-primary:hover{
    @apply hover:opacity-90
}